apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sabnzbd-config-ceph
  namespace: media
  labels:
    app: sabnzbd
spec:
  accessModes:
   - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: ceph-block
  