apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prowlarr-config-ceph
  namespace: media
  labels:
    app: prowlarr
spec:
  accessModes:
   - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: ceph-block