apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-config-ceph
  namespace: media
  labels:
    app: jellyfin
spec:
  accessModes:
   - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
  storageClassName: ceph-block
  